In [51]:
#Importing dependencies
import os
import pandas as pd

In [52]:
#Reading csv files
csvschools = pd.read_csv('Resources/schools_complete.csv', encoding='utf-8') 
csvstudents = pd.read_csv('Resources/students_complete.csv', encoding='utf-8')

In [53]:
#Merging the two files
school_data = pd.merge(csvstudents, csvschools, how='left', on=['school_name', 'school_name'])
#school_data.head()

In [54]:
#District Summary

In [55]:
#Calculating total number of students
total_students = school_data['student_name'].count()

In [56]:
#Calculating total number of schools
total_schools = len(school_data['school_name'].unique())

In [57]:
#Calculating total budget across all schools
total_budget = sum(school_data['budget'].unique())

In [58]:
#Calculating the average reading and writing score
avgRead = round(school_data['reading_score'].mean(), 2)
avgMath = round(school_data['math_score'].mean(), 2)

In [59]:
#Calculating percentage of students who passed reading
sortedRead = school_data[school_data['reading_score'] >= 70]
passRead = round((sortedRead['student_name'].count() / total_students) * 100, 2)

#Calculating percentage of students who passed math
sortedMath = school_data[school_data['math_score'] >= 70]
passMath = round((sortedMath['student_name'].count() / total_students) * 100, 2)

In [60]:
#Calculating percentage of students who passed both reading and math
sortedRM = school_data.loc[(school_data['reading_score'] >= 70) & (school_data['math_score'] >= 70), ['school_name', 'reading_score', 'math_score']]
passReadMath = round((sortedRM['math_score'].count() / total_students) * 100, 2)

In [61]:
district_summary = pd.DataFrame({'Total Students': [total_students],
                                'Total Schools': [total_schools],
                                'Total Budget': [total_budget],
                                'Average Reading Score(%)': [avgRead],
                                'Average Math Score(%)': [avgMath],
                                'Students Passing Reading(%)': [passRead],
                                'Students Passing Math(%)': [passMath],
                                'Students Passing Overall(%)': [passReadMath]
                                })
#district_summary

In [62]:
#School Summary

In [63]:
#List of all school names
sch_names = school_data['school_name'].unique()

In [64]:
#Matching each school with its type
sch_types = school_data[['school_name','type']].drop_duplicates()
sch_types = sch_types['type']
#type(sch_types)

In [65]:
#Finding total students of each school
sch_students = school_data['school_name'].value_counts(sort=False)
sch_students = sch_students.values
#type(sch_students)

In [66]:
#Finding total budgets of each school
sch_budgets = school_data['budget'].unique()
#type(sch_budgets)

#Finding budget per student
sch_bud_stu = sch_budgets / sch_students
#type(sch_bud_stu)

In [67]:
#Finding average reading and math score of each school
sch_avgM = school_data[['school_name','math_score']].groupby(['school_name'], sort=False).mean()
sch_avgM = sch_avgM['math_score'].to_numpy()

sch_avgR = school_data[['school_name','reading_score']].groupby(['school_name'], sort=False).mean()
sch_avgR = sch_avgR['reading_score'].to_numpy()

In [68]:
#Finding each school's percentage of students who passed reading and math
sch_passM = sortedMath[['school_name','math_score']].groupby(['school_name'], sort=False).count()
sch_passM = (sch_passM['math_score'].to_numpy() / sch_students) * 100
#type(sch_passM)

#Finding each school's percentage of students who passed math
sch_passR = sortedRead[['school_name','reading_score']].groupby(['school_name'], sort=False).count()
sch_passR = (sch_passR['reading_score'].to_numpy() / sch_students) * 100
#type(sch_passR)

In [69]:
#Finding each school's percentage of students who passed reading and math
sch_passRM = sortedRM[['school_name','math_score']].groupby(['school_name'], sort=False).count()
sch_passRM = (sch_passRM['math_score'].to_numpy() / sch_students) * 100

In [70]:
school_summary = pd.DataFrame({'School Name': sch_names,
                              'School Type': sch_types,
                              'Total Students': sch_students,
                              'Total School Budget': sch_budgets,
                              'Budget Per Student': sch_bud_stu,
                              'Average Reading Score (%)': sch_avgR,
                              'Average Math Score (%)': sch_avgM,
                              'Students Passing Reading(%)': sch_passR,
                              'Students Passing Math(%)': sch_passM,
                              'Students Passing Overall(%)': sch_passRM
                              }).set_index(num for num in range(15))
#school_summary.head(15)

In [71]:
# Highest-Performing Schools (by % Overall Passing)
highest_sch = school_summary.sort_values('Students Passing Overall(%)', ascending=False)
#highest_sch.head(5)

In [72]:
# Lowest-Performing Schools (by % Overall Passing)
lowest_sch = school_summary.sort_values('Students Passing Overall(%)', ascending=False)
#lowest_sch.tail(5)

In [73]:
# Math Scores by Grade
sch_grade = school_data[['school_name', 'grade', 'reading_score', 'math_score']]

grd09 = sch_grade.loc[sch_grade['grade'] == '9th']
grd10 = sch_grade.loc[sch_grade['grade'] == '10th']
grd11 = sch_grade.loc[sch_grade['grade'] == '11th']
grd12 = sch_grade.loc[sch_grade['grade'] == '12th']

In [74]:
#Finding average math scores for each grade in each school
grd09_M = grd09[['school_name','math_score']].groupby(['school_name'], sort=False).mean()
grd10_M = grd10[['school_name','math_score']].groupby(['school_name'], sort=False).mean()
grd11_M = grd11[['school_name','math_score']].groupby(['school_name'], sort=False).mean()
grd12_M = grd12[['school_name','math_score']].groupby(['school_name'], sort=False).mean()

In [75]:
avgM_grades = pd.DataFrame({'9th Grade': grd09_M['math_score'],
                      '10th Grade': grd10_M['math_score'],
                      '11th Grade': grd11_M['math_score'],
                      '12th Grade': grd12_M['math_score']})

#avgM_grades

In [76]:
#Finding average reading scores for each grade in each school
grd09_R = grd09[['school_name','reading_score']].groupby(['school_name'], sort=False).mean()
grd10_R = grd10[['school_name','reading_score']].groupby(['school_name'], sort=False).mean()
grd11_R = grd11[['school_name','reading_score']].groupby(['school_name'], sort=False).mean()
grd12_R = grd12[['school_name','reading_score']].groupby(['school_name'], sort=False).mean()

In [77]:
avgR_grades = pd.DataFrame({'9th Grade': grd09_R['reading_score'],
                      '10th Grade': grd10_R['reading_score'],
                      '11th Grade': grd11_R['reading_score'],
                      '12th Grade': grd12_R['reading_score']})

#avgR_grades

In [78]:
#Scores by School Spending per Student
bins_budget = [500, 580, 610, 640, 670]
labels_budget = ['under 580','580 to 610','610 to 640','640 to 670']

school_summary['School Spending per Student'] = pd.cut(sch_bud_stu, bins_budget, labels=labels_budget, include_lowest=True)

In [79]:
scores_spend = school_summary.groupby('School Spending per Student')[['School Spending per Student', 
               'Average Reading Score (%)', 
               'Average Math Score (%)', 
               'Students Passing Reading(%)', 
               'Students Passing Math(%)', 
               'Students Passing Overall(%)']].mean()

scores_spend

,Average Reading Score (%),Average Math Score (%),Students Passing Reading(%),Students Passing Math(%),Students Passing Overall(%)
School Spending per Student,,,,,
under 580,83.989488,83.274201,96.539641,93.867718,90.582567
580 to 610,83.903238,83.549353,96.340888,93.686876,90.265583
610 to 640,82.120471,79.474551,87.468080,77.139934,68.476495
640 to 670,80.957446,77.023555,80.675217,66.701010,53.717613

In [80]:
#Scores by School Size
bins_size = [0, 1000, 3000, 5000]
labels_size = ['small','medium','large']

school_summary['School Size'] = pd.cut(sch_students, bins_size, labels=labels_size, include_lowest=True)

In [81]:
scores_size = school_summary.groupby('School Size')[['School Size', 
               'Average Reading Score (%)', 
               'Average Math Score (%)', 
               'Students Passing Reading(%)', 
               'Students Passing Math(%)', 
               'Students Passing Overall(%)']].mean()

#scores_size

In [83]:
#Scores by School Type
#sch_types

scores_type = school_summary.groupby('School Type')[['School Type', 
               'Average Reading Score (%)', 
               'Average Math Score (%)', 
               'Students Passing Reading(%)', 
               'Students Passing Math(%)', 
               'Students Passing Overall(%)']].mean()

#scores_type